/* Author: Erik Aybar */
@import url(http://fonts.googleapis.com/css?family=Londrina+Shadow);
@import url(http://fonts.googleapis.com/css?family=Monoton);


/*=======================================================
=            HTML elements and Global Styles            =
=======================================================*/

* {
	box-sizing: border-box;
}

/* basic elements */
html, body {
	margin: 0;
	padding: 0;
}

div, aside, footer {
	overflow: hidden;
}

body {
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753;
	font-family: 'Londrina Shadow', cursive;
}

p {
	font-size: 24px;
	font-family: 'sans';
}

ul {
	list-style-type: none;
}



a {

}

a:link {
}

a:visited {
}

a:hover, a:focus, a:active {
}

:before, :after {
	display: block;
}

.page-wrapper {

}

.intro header,
.summary,
.preamble,
.main > div,
.sidebar .wrapper .design-archives,
.sidebar .wrapper .design-resources {
	padding: 30px;
}

/*-----  End of HTML elements and Global Styles  ------*/




/*=====================================
=            Section intro            =
=====================================*/





/**
 * Contains only header, h1, and h2 in document
 */
.intro { /*#zen-intro*/
	background-color: #f2f2f2;
}

.intro header { /*role=banner*/
	min-height: 600px;
	background-color: #c2c2c2;
	position: relative;
	overflow: hidden;
	background-image: url('http://www.zastavki.com/pictures/1920x1200/2010/World_Travel___Tourism_Passenger_Airlines_026076_.jpg');
	background-size: cover;
	background-position: center;
}
.intro header:before {
	position: absolute;
	bottom: 25px;
	font-size: 18px;
	width: 100%;
	text-align: center;
	content: "by Erik Aybar";
}
.intro header:after {
	position: absolute;
	bottom: 25px;
	font-size: 72px;
	width: 100%;
	text-align: center;
	content: "Transport via Zen";
	font-family: 'Monoton', cursive;
}

h1 {
	padding-top: 250px;
	float: right;
	font-size: 36px;
	line-height: 30px;
}
h1:before, h1:after {
	font-family: sans-serif;
}
h1:before {
	font-size: 18px;
	content: "Another Inspired";
}
h1:after {
	font-size: 24px;
	content: "Creation";
}

h2 {
	font-size: 48px;
}
h2:before {
	font-size: 24px;
	content: "A Journey Through...";
}

h3 { /*8 Throughout Document*/
	font-size: 42px;
}

.summary {
	clear: both;
}
.summary p:first-child {
	width: 60%;
}
.summary p:last-child {
	text-align: right;
}
.summary p:last-child:before {
	width: 40%;
	padding-left: 15%;
	text-align: left;
	content: "Contribute Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique rerum repudiandae cupiditate facilis reprehenderit adipisci.";
}

.preamble {

}
.preamble h3 {

}
.preamble p { /*3 p's with multiple abbrs...*/

}

/*-----  End of Section intro  ------*/


/*===========================================
=            div.main.supporting            =
===========================================*/

.main {

}

.main .explanation {

}
.main .explanation h3 {
	-moz-column-span   : all;
	-webkit-column-span: all;
	column-span        : all;
}
.main .explanation { /* 2 P's */
	-moz-column-count   : 3;
	-webkit-column-count: 3;
	column-count        : 3;
	-moz-column-gap     : 10px;
	-webkit-column-gap  : 10px;
	column-gap          : 10px;
}

@media screen and (max-width: 768px) {
	.main .explanation { /* 2 P's */
		-moz-column-count   : 1;
		-webkit-column-count: 1;
		column-count        : 1;
	}
}


.main .participation {

}
.main .participation h3 {

}
.main .participation p { /* 3 P's */

}

.main .benefits {

}
.main .benefits h3 {

}
.main .benefits p { /* 1 P */

}

.main .requirements {

}
.main .requirements h3 {

}
.main .requirements p { /* 5 P's */

}

footer {

}
footer a { /* footer a.zen-* */

}

/*-----  End of div.main.supporting  ------*/


/*=====================================
=            aside.sidebar            =
=====================================*/

.sidebar {
/*	padding-top: 500px;
	background-image: url('airplane_red.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 500px auto;*/
}
.sidebar:before {
	content: "CSS: The Journey!";
	text-align: center;
	font-size: 48px;

	background-image: url('airplane_red.png');
	background-repeat: no-repeat;
	background-position: center 100px;
	background-size: auto 200px;
	height: 400px;
}
.sidebar .wrapper {

}



/**
 * Weird Hover Effect Thing....
 */
@media screen and (min-width: 768px) {
	.design-selection {
		position: fixed;
		width: 100%;
		background-color: red;
		background-color: rgba(0,0,0,0.5);
		margin: 0 auto;
		bottom: -30px;
		/*bottom: 0;*/
		height: 50px;
		transition: all 300ms;

		overflow: visible;
	}
	.design-selection:hover {
		bottom: 0px;
	}

	.design-selection h3 {
		display: none;
	}

	/**
	 * Show only the content contained within the <a>
	 */
	.design-selection nav{
		display: block;
		overflow: visible;
		position: relative;
		width:80%;
		margin:0 auto;

		top: 2000px;
	}
	.design-selection nav li a {
		position: relative;
		top: -2000px;
	}


	.design-selection li {
		display: inline-block;
	}

	.design-selection a {
		color: inherit;
		display: block;
		font-size: 18px;
		margin: 0;
		opacity: 0.6;
		text-decoration: none;
	}
	.design-selection a:hover {
		opacity: 1;
	}
	.design-selection .designer-name {
		position: absolute;
		opacity: 0;
		transition: all 500ms;
		transition-delay: 300ms;
	}
	.design-selection li:hover .designer-name{
		opacity: 1;
	}
}

.design-archives,
.zen-resources {
	width: 50%;
	float:left ;
	text-align: center;
}
.design-archives {

}
.design-archives h3{

}
.design-archives nav {

}

.zen-resources {

}
.zen-resources h3 {

}
.zen-resources ul {

}

/*-----  End of aside.sidebar  ------*/
.page-wrapper {
	width: 100%;
	overflow: hidden;
}

.page-wrapper .intro > div,
.page-wrapper .main > *{
	margin: 0 auto;
}

/*Extra small devices Phones (<768px)
Small devices Tablets (≥768px)
Medium devices Desktops (≥992px)
Large devices Desktops (≥1200px)*/

@media screen and (min-width: 1200px) {

	.page-wrapper .intro > div,
	.page-wrapper .main > *{
		width: 1140px;
	}

}

@media screen and (min-width: 992px) and (max-width: 1200px) {

	.page-wrapper .intro > div,
	.page-wrapper .main > *{
		width: 900px;
	}

}

@media screen and (min-width: 768px) and (max-width: 992px) {

	.page-wrapper .intro > div,
	.page-wrapper .main > *{
		width: 640px;
	}

}

@media screen and (max-width: 768px) {

	.page-wrapper .intro > div,
	.page-wrapper .main > *{
		width: 100%;
	}

	/**
	 * Define All Actions Unique to Layout Changing on Mobile
	 */
	.design-archives,
	.zen-resources,
	.design-selection {
		width: 100%;
		float:none;
		text-align: center;
	}

}


